@use './color' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
}

body {
	background-color: #28232a;
	font-family: 'Source Sans 3', sans-serif;
}
